*{ 
    font-family: "Covered By Your Grace", cursive;
}
.covered-by-your-grace-regular {
    font-family: "Covered By Your Grace", cursive;
    font-weight: 400;
    font-style: normal;
}
body {
    margin: 0px;
}
header {
    background-image: radial-gradient(rgb(49, 49, 49), black);
    display: flex;
   justify-content: center;
   border-bottom: 5px double gray;
}
h1 {
    background-image: linear-gradient(to bottom right, gray, white, gray);
    width: 20vw;
    height: 8vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border: 10px outset;
}
body {
    text-align: center;
    background-image: url(./img/brothers.webp);
    background-size: cover;
}

#board {
    height: 540px;
    width: 630px;
    background-image: url('./img/wood-texture.webp');
    border: 10px solid rgb(54, 18, 7);
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.tile {
    height: 70px;
    width: 70px;
    background-color: rgb(187, 184, 184);
    border-radius: 50%;
    margin: 5px;
    border: 5px solid rgb(54, 18, 7);;
}

.red-piece {
    background-image: url(./img/sharingan.jpg);
    background-size: 70px;
    background-position: 0%;
}

.yellow-piece {
    background-image: url(./img/sage-mode-eye.jpg);
    background-size: 70px;
    background-position: 0%;
    background-repeat: no-repeat;
}